@model CitaActiva.ModelsViews.AppointmentModel


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/jquery.blockUI.js"></script>

<script src="~/js/site.js"></script>
<link href="~/css/global.css" rel="stylesheet" type="text/css" />


<form asp-route="HomeGetRoute" id="HomeForm" method="post">
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <table width="100%">
                <tr>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <a href="/Citas/Index/" class="btn btn-block button">Agendar nueva Cita</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-pull-6">

            <a id="btnVerForm" data-toggle="collapse" href="#collapseExample" role="button" class="btn btn-block button">Modificar cita agendada.</a>
            

        </div>


        <div class="col-md-6 col-md-pull-6">

            <div class="collapse" id="collapseExample">
                <table style="margin: 5px;">
                    <tr>
                        <td><input asp-for="id" type="number" id="idHome" class="form-control" placeholder="Ingresa el Id de tu cita." /></td>
                        <td><input type="submit" asp-for="id" class="btn btn-info" value="Buscar Cita" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</form>

