<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    <link href="~/lib/bootstrap/dist/css/citas.css" rel="stylesheet" />

    <script language="JavaScript">
        function redireccionar() {
            setTimeout("location.href='/Citas/index'", 5000);
        }

/**/</script>
</head>
<body onLoad="redireccionar()">
    <div>
        @{
            Layout = null;
        }
        <div class="row">
            <div class="col-md-12" >
                <div id="divGraciasNormal" class="normalGracias">
                    <img src="~/img/Confirmacion-1366x731.png" />
                </div>
                <div id="divGraciasMovil" class="movilGracias">
                    <img src="~/img/ConfirmacionMobile2.png" />
                </div>
                <div id="divGraciasMovil" class="verticalGracias">
                    <img src="~/img/375x812.png" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
