
@{
    ViewData["Title"] = "CreateAppointment";
} 
        <div class="container">
            <section class="container-fluid">
                <section class="row justify-content-center">
                    <section class="col-12 col-sm-6 col-md-6">
                        <p>
                            <h5>
                                @ViewData["IdAppointment"]
                            </h5>
                        </p>
                    </section>
                </section>
            </section>
            </div>



