@model CitaActiva.ModelsViews.AppointmentModel
@{
    ViewData["Title"] = "Eliminar Cita";
}

<link href="~/css/global.css" rel="stylesheet" type="text/css" />

<br />
<br />
<br />
<form asp-route="DeleteAppointmentRoute" method="post" class="form-container">
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <div class="col text-center">
                <div class="form-group">
                    <table>
                        <tr>
                            <td colspan="2"><label class="form-label">Cancelar Agedamiento de Cita:</label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" asp-for="id" placeholder="Id a Eliminar" class="form-control">
                                <span asp-validation-for="id"></span>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-block" value="Eliminar Cita" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

